.product-list{
    text-align: center;
    margin-top: 3rem;
}

h2{
    margin-bottom: 12px;
}
.product-list ul{
    margin: 5px;
}

.product-list ul li{
    display: inline-block; 
    width: 130px;
    padding: 0.6rem;
    /* margin-top: 12px; */
    border: 1.5px solid skyblue;
}

.lnk,.udt{
    height:40px;
    font: 300 1rem "roboto";
    color: red;
}
.udt{
    color: green;
}

.lnk:hover{
    color: rgb(203, 107, 107);
   
}
.udt:hover{
    color: rgb(75, 148, 75);
}
